body {
  font-family: Poppins, sans-serif;
  color: var(--text-primary);
  background-color: var(--primary);
  box-sizing: border-box;
  line-height: 1.3;
}

* {
  box-sizing: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

button {
  border: none;
}

input {
  margin: 0;
}

a {
  color: currentColor;
}