$book__img-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

.books {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  width: fit-content;
  margin: 6rem auto;
}

.book {
  position: relative;
  display: flex;

  width: 100%;
  max-width: 22.5rem;
  min-height: 10.75rem;
  padding: 1rem;

  border-bottom: 4px solid var(--secondary);
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--text-primary);

  &__img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: $book__img-shadow;
  }

  &__info {
    flex-grow: 1;
    max-width: 70%;
    padding: .5rem 2rem 1rem .75rem;
    background-color: var(--primary);
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: .625rem;
  }

  &__author {
    font-size: .875rem;
    margin-bottom: .5rem;
  }

  &__page-no {
    font-size: .875rem;
    margin-bottom: .5rem;
  }

  &_status {
    font-size: .875rem;
  }

  &__delete-btn {
    position: absolute;
    right: .5rem;
    top: 1.5rem;

    background-color: transparent;
    color: var(--text-primary);
  }
}

@media screen and (min-width: 48rem) {
  .books {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 72rem) {
  .books {
    grid-template-columns: repeat(3, 1fr);
  }
}