.books {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0 .625rem;
  margin: 5rem auto;
}

.book {
  position: relative;
  display: flex;

  width: 100%;
  max-width: 22.5rem;
  min-height: 10.75rem;
  margin: .625rem auto;

  border-radius: 4px;
  background-color: var(--primary);
  color: var(--text-primary);

  &__img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
  }

  &__info {
    flex-grow: 1;
    max-width: 70%;
    padding: 1rem 2rem 1rem .75rem;
    background-color: var(--primary);
    border-radius: 0 4px 4px 0;
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: .625rem;
  }

  &__author {
    font-size: .875rem;
    margin-bottom: .5rem;
  }

  &__page-no {
    font-size: .875rem;
    margin-bottom: .5rem;
  }

  &_status {
    font-size: .875rem;
  }

  &__delete-btn {
    position: absolute;
    right: .5rem;
    top: 1rem;

    background-color: transparent;
    color: var(--text-primary);
  }
}