.footer {
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--text-secondary);

  &__contact {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
  }
}