[theme="light"] {
  --primary: #fafafa;
  --secondary: #062726;
  --text-primary: #212121;
  --text-secondary: #fff;
  --text-gray: #bdbdbd;
}

[theme="dark"] {
  --primary: #111;
  --secondary: #062726;
  --text-primary: #eee;
  --text-secondary: #fafafa;
  --text-gray: #9e9e9e;
}