[theme="light"] {
  --primary: #fafafa;
  --secondary: #333;
  --text-primary: #212121;
  --text-secondary: #fff;
  --text-gray: #bdbdbd;
  --gray-bg: #eee;
}

[theme="dark"] {
  --primary: #424242;
  --secondary: #424242;
  --gray-bg: #616161;
  --text-primary: #eee;
  --text-secondary: #fafafa;
  --text-gray: #9e9e9e;
}